# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

notes

database
apps/api/node_modules
apps/api/data
apps/desktop/node_modules
.env
apps/desktop/cypress.env.json
apps/desktop/cypress/screenshots

node_modules