version: "1"
services:
  app:
    container_name: app
    restart: always
    build: .
    ports:
      - "4100:4100"
    links:
      - mongo
  mongo:
    container_name: mongo
    image: mongo
    volumes:
      - ./data:/data/db